header {
	background-color: #916e51;
	color: white;
	padding: 10px;
	height: 50px; /* Tamaño fijo para la cabecera */
	display: flex; /* Uso de Flexbox para alinear contenido */
	justify-content: space-between; /* Espacio entre elementos */
	align-items: center; /* Alinea verticalmente */
}

/* Estilo para los elementos del encabezado a la derecha */
.header-right {
	display: flex; /* Usa Flexbox para alinear las imágenes a la derecha */
	gap: 10px; /* Espacio entre imágenes */
}

.game-area {
    height: 85vh; /* Ocupa el 60% de la altura de la ventana */
	background-color: #01110c;
	background-size: cover; /* Cubre todo el área del juego */
	background-position: center; /* Alinea la imagen en el centro */
	overflow: hidden; /* Evita barras de desplazamiento */
	
}

.controls-description {
	background-color: #01110c;
	padding: 20px;
	text-align: center;
	background-image: url('../assets/background/images/Undersea.png'); /* Imagen de fondo */
	background-size: cover; /* Cubre todo el área del juego */
	background-position: top; /* Alinea la imagen en el centro */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.players-controls {
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	gap: 40px;
}

.characters-controls{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.rotade-45 {
    transform: rotate(45deg); /* Gira la imagen 45 grados */
}

.rotade-minus45 {
    transform: rotate(-45deg); /* Gira la imagen 45 grados */
}


body, html {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	height: 100%;
}

p {
	color:aquamarine;
	font-family: fantasy;
	font-size: x-large;
	font-weight: 300;
	margin-bottom: 10px;
	margin-top: 10px;
}