header {
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	height: 50px; /* Tamaño fijo para la cabecera */
	display: flex; /* Uso de Flexbox para alinear contenido */
	justify-content: space-between; /* Espacio entre elementos */
	align-items: center; /* Alinea verticalmente */
}

/* Estilo para los elementos del encabezado a la derecha */
.header-right {
	display: flex; /* Usa Flexbox para alinear las imágenes a la derecha */
	gap: 10px; /* Espacio entre imágenes */
}

.game-area {
	flex: 1; /* Permite que el área del juego ocupe el espacio restante */
	background-color: #f0f0f0;
	display: flex; /* Flexbox para alinear el contenido */
	background-image: url('../assets/background/images/an_orange_city.png'); /* Imagen de fondo */
	background-size: cover; /* Cubre todo el área del juego */
	background-position: center; /* Alinea la imagen en el centro */
	overflow: hidden; /* Evita barras de desplazamiento */
}

.controls-description {
	background-color: #ffffff;
	padding: 20px;
	border-top: 2px solid #cccccc;
	text-align: center;
	background-image: url('../assets/background/images/an_orange_city.png'); /* Imagen de fondo */
	background-size: cover; /* Cubre todo el área del juego */
	background-position: center; /* Alinea la imagen en el centro */
}

body, html {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	height: 100%;
}